<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js" >

<head th:fragment="commoncss">

    <!-- Title Page-->
    <title>GN Project</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet" media="all">
    <link th:href="@{//use.fontawesome.com/releases/v5.3.1/css/all.css}" rel="stylesheet" media="all">
    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">
    <link th:href="@{//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/vector-map/jqvmap.min.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" th:href="@{//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,100,200,300,500,600,700,800,900/}" />
   <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" >-->
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.10.19/css/jquery.dataTables.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css}" >
    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/Chart.min.css}" >
</head>