<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2" th:fragment="siderbar">
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/images/icon/sidebar-logo.png}" alt="E-GN" />
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
         <!--<div class="account2">
              <div class="image img-cir img-120">
                  <img src="images/icon/sidebar-logo.png" alt="E-GN" />
              </div>
              <a href="#">Sign out</a>
          </div>-->
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">

                <!--start administrative task-->
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Administrative Task
                        <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a th:href="@{/basicgnprofile/}">
                                <i class="fas fa-tachometer-alt"></i>Basic GN Profile</a>
                        </li>
                        <li>
                            <a th:href="@{/diarylog/}">
                                <i class="fas fa-tachometer-alt"></i>Diary Log</a>
                        </li>

                    </ul>
                </li>

                <!--end of administrative task-->


                <!--start primary task-->
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Primary Task
                        <span class="arrow"><i class="fas fa-angle-down"></i></span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a th:href="@{/assetsofcitizen/}">
                                <i class="fas fa-unlock-alt"></i>Assets of Citizen</a>
                        </li>

                        <li>
                            <a th:href="@{/certificatedetail/}">
                                <i class="fas fa-tachometer-alt"></i>Certificate Issuing</a>
                        </li>


                    </ul>
                </li>
                <!--end of primary task-->

                <!--start citizen profile task-->
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Citizen Profile Task
                        <span class="arrow"><i class="fas fa-angle-down"></i></span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a th:href="@{/citizendetail/}">
                                <i class="fas fa-unlock-alt"></i>General Detail</a>
                        </li>
                        <li>
                            <a th:href="@{/donationdetail/}">
                                <i class="fas fa-unlock-alt"></i>Donation Detail</a>
                        </li>
                        <li>
                            <a th:href="@{/citizenservices/}">
                                <i class="fas fa-unlock-alt"></i>Citizen Service</a>
                        </li>

                    </ul>
                </li>
                <!--end of citizen profile task-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>Settings
                        <span class="arrow"><i class="fas fa-angle-down"></i></span>
                    </a>

                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_AG')">
                            <a th:href="@{/user/}">
                                <i class="fas fa-comment-alt"></i>User</a>
                        </li>
                        <li>
                            <a th:href="@{/certificatedetailregister/}">
                                <i class="fas fa-comment-alt"></i>Certificate Detail Register</a>
                        </li>
                        <li>
                            <a th:href="@{/donationregister/}">
                                <i class="fas fa-comment-alt"></i>Donation Register</a>
                        </li>
                        <li>
                            <a th:href="@{/educationlevelregister/}">
                                <i class="fas fa-comment-alt"></i>Education Level Register</a>
                        </li>
                        <li>
                            <a th:href="@{/gndivisionregister/}">
                                <i class="fas fa-comment-alt"></i>GN Division Register</a>
                        </li>
                        <li>
                            <a th:href="@{/landdetailregister/}">
                                <i class="fas fa-comment-alt"></i>Land Detail Register</a>
                        </li>
                        <li>
                            <a th:href="@{/nationalityregister/}">
                                <i class="fas fa-comment-alt"></i>Nationality Register</a>
                        </li>
                        <li>
                            <a th:href="@{/religionregister/}">
                                <i class="fas fa-comment-alt"></i>Religion Register</a>
                        </li>
                        <li>
                            <a th:href="@{/serviceregister/}">
                                <i class="fas fa-comment-alt"></i>Citizen Service Register</a>
                        </li>
                        <li>
                            <a th:href="@{/floordetailregister/}">
                                <i class="fas fa-comment-alt"></i>Floor Detail Register</a>
                        </li>
                        <li>
                            <a th:href="@{/walldetailregister/}">
                                <i class="fas fa-comment-alt"></i>Wall Detail Register</a>
                        </li>
                        <li>
                            <a th:href="@{/roofdetailregister/}">
                                <i class="fas fa-comment-alt"></i>Roof Detail Register</a>
                        </li>



                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->