<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css"
          th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75"
                 th:include="citizenProfileTask/citizenDetail/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->


        <div class="row">
            <div class="col-lg-12">


                <!--START OF CITIZEN DETAIL FORM-->
                <div class="card">

                    <form th:action="@{/citizendetail/save}" th:object="${citizenDetail}" th:method="post"
                          id="frm_citizendetail">   <!--VALIDATION ID FROM .JS-->
                        <div class="card">
                            <div class="card-body card-block">

                                <a th:href="@{/citizendetail/add}" class="btn btn-primary"><i class=""></i> New</a>

                                <button type="submit" class="btn btn-primary"><i class=""></i> Save</button>

                                <a th:href="@{/citizendetail/delete(id=${citizenDetail.id})}"
                                   th:disabled="${citizenDetail.id} ==null ? 'disabled'" class="btn btn-primary">
                                    <i class=""></i> Delete</a>

                                <a th:href="@{/citizendetail/}" class="btn btn-primary"><i class=""></i> Cancel</a>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <strong>Citizen Profile</strong>
                                <small> Form</small>
                            </div>

                            <!--START OF CITIZEN BASIC DETAIL-->

                            <div class="card-body card-block">

                                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                                <input type="hidden" id="version" name="id" th:field="*{version}"/>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="family_no" class=" form-control-label">Householder No</label>
                                            <input type="text" id="family_no" placeholder="Enter householder no"
                                                   th:field="*{citizenFamilyNo}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Citizen Type</label>
                                            <div class="custom-control custom-switch">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" th:field="*{isHouseholder}"
                                                               data-toggle="toggle" id="is_householder" data-style="slow"
                                                               data-on="Householder" data-off="Dependent" data-onstyle="primary"
                                                               data-size="small">
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">State</label>
                                            <div class="custom-control custom-switch">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" th:field="*{citizenStatus}"
                                                               data-toggle="toggle" id="dead_status" data-style="slow"
                                                               data-on="Alive" data-off="Dead" data-onstyle="primary"
                                                               data-size="small">
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="relationship" class=" form-control-label">Relationship</label>
                                            <select id="relationship" name="relationship" th:field="*{relationship}"
                                                    class="form-control">
                                                <option th:each="relationship:${relationships}"
                                                        th:value="${relationship}" th:text="${relationship.relType}">
                                                </option>
                                                මියගිය
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="initials" class=" form-control-label">Initials</label>
                                            <input type="text" id="initials" th:field="*{citizenInitials}"
                                                   placeholder="Enter Initials" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first_name" class=" form-control-label">First Name</label>
                                            <input type="text" id="first_name" th:field="*{citizenFirstName}"
                                                   placeholder="Enter first name" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="middle_name" class=" form-control-label">Middle Name</label>
                                            <input type="text" id="middle_name" th:field="*{citizenMiddleName}"
                                                   placeholder="Enter middle name" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="last_name" class=" form-control-label">Last Name</label>
                                            <input type="text" id="last_name" th:field="*{citizenLastName}"
                                                   placeholder="Enter last name" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="c_nic" class=" form-control-label">NIC</label>
                                            <input type="text" id="c_nic" th:field="*{nic}" placeholder=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="datetimepicker1" class=" form-control-label">Date of Birth</label>
                                            <input type='date' id="datetimepicker1" th:field="*{citizenDateOfBirth}" class="form-control"/>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="eligible_date" class=" form-control-label">Eligibility Date</label>
                                        <input type="text" id="eligible_date" th:field="*{eligibilityDate}" placeholder="Eligibility Date"
                                               class="form-control">
                                    </div>
                                </div>

                            </div>
                            <!--END OF CITIZEN BASIC DETAIL-->

                            <!--TAB START-->
                            <div class="card-body card-block">

                                <div class="card">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                    href="#tab_general">General</a></li>
                                            <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                    href="#tab_location">Location</a></li>
                                            <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                    href="#tab_death_detail">Death Record</a></li>
                                            <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                    href="#tab_other_detail">Other Information</a></li>

                                        </ul>
                                    </div>

                                    <div class="tab-content">

                                        <div id="tab_general" class="tab-pane fade in active">
                                            <!--START OF CITIZEN GENERAL DETAIL-->
                                            <div class="card-body card-block">

                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="gender"
                                                                   class=" form-control-label">Gender</label>
                                                            <select id="gender" name="gender"
                                                                    th:field="*{citizenGender}" class="form-control">
                                                                <option th:each="gender:${genders}"
                                                                        th:value="${gender}"
                                                                        th:text="${gender.genName}">
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="marital_status" class=" form-control-label">Marital
                                                                Status</label>
                                                            <select id="marital_status" name="marital_status"
                                                                    th:field="*{maritalStatus}" class="form-control">
                                                                <option th:each="maritalStatus:${maritalStatuses}"
                                                                        th:value="${maritalStatus}"
                                                                        th:text="${maritalStatus.name}">
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="phone_no" class=" form-control-label">Phone
                                                                Number</label>
                                                            <input type="text" id="phone_no" placeholder="Enter phone number"
                                                                   th:field="*{phoneNumber}" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="email" class=" form-control-label">Email
                                                                Address</label>
                                                            <input type="text" id="email" placeholder="Enter email address"
                                                                   th:field="*{citizenEmailAddress}"
                                                                   class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="edu_level" class=" form-control-label">
                                                                Highest Education Level</label>
                                                            <select id="edu_level" name="edu_level"
                                                                    th:field="*{educationId}"
                                                                    class="form-control">
                                                                <<option th:each="educationLevel:${educationLevels}"
                                                                         th:value="${educationLevel.id}"
                                                                         th:text="${educationLevel.educationLevel}">
                                                            </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END OF CITIZEN GENERAL DETAIL-->
                                        </div>

                                        <div id="tab_location" class="tab-pane fade">

                                            <!--START OF CITIZEN LOCATION DETAIL-->

                                            <div class="card-body card-block">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="div_name" class=" form-control-label">GN
                                                                Division</label>
                                                            <select id="div_name" name="div_name"
                                                                    th:field="*{gnDivisionId}"
                                                                    class="form-control">

                                                                <option th:each="division:${divisions}"
                                                                        th:value="${division.id}"
                                                                        th:text="${division.divisionName}"></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="birth_place" class=" form-control-label">Birth
                                                                District</label>
                                                            <select id="birth_place" name="birth_place"
                                                                    th:field="*{citizenBirthDistrict}"
                                                                    class="form-control">
                                                                <option th:each="district:${districts}"
                                                                        th:value="${district}"
                                                                        th:text="${district.distName}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="residence_area" class=" form-control-label">Previous
                                                                Residence Area</label>
                                                            <select id="residence_area" name="residence_area"
                                                                    th:field="*{previousResidentialArea}"
                                                                    class="form-control">
                                                                <option th:each="district:${districts}"
                                                                        th:value="${district}"
                                                                        th:text="${district.distName}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="reason_to_change" class=" form-control-label">Reason
                                                                To Change Residential Area</label>
                                                            <textarea id="reason_to_change" placeholder=""
                                                                      th:field="*{reasonToChangeResidentialArea}"
                                                                      class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="address"
                                                                   class=" form-control-label">Address</label>
                                                            <textarea id="address" placeholder="Enter address"
                                                                      th:field="*{citizenAddress}"
                                                                      class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--END OF CITIZEN LOCATION DETAIL-->

                                        <div id="tab_other_detail" class="tab-pane fade ">
                                            <!--START OF CITIZEN EXTRA DETAIL-->

                                            <div class="card-body card-block">
                                                <div class="row ">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="nationality" class=" form-control-label">Nationality</label>
                                                            <select id="nationality" name="nationality"
                                                                    th:field="*{nationalityId}" class="form-control">
                                                                <option th:each="person:${persons}"
                                                                        th:value="${person.id}"
                                                                        th:text="${person.nationalityType}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="religion"
                                                                   class=" form-control-label">Religion</label>
                                                            <select id="religion" name="religion"
                                                                    th:field="*{religionId}" class="form-control">
                                                                <option th:each="religion:${religions}"
                                                                        th:value="${religion.id}"
                                                                        th:text="${religion.religionType}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="occupation" class=" form-control-label">Occupation</label>
                                                            <input type="text" id="occupation" placeholder="enter occupation"
                                                                   th:field="*{citizenOccupation}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="income" class=" form-control-label">Income</label>
                                                            <input type="text" id="income" placeholder="Enter income detail"
                                                                   th:field="*{citizenIncome}" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--END OF CITIZEN EXTRA DETAIL-->
                                        </div>

                                        <div id="tab_death_detail" class="tab-pane fade">

                                            <!--START OF DIED CITIZEN DETAIL-->
                                            <div class="card-body card-block">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="datetimepicker2" class=" form-control-label">Dateof Death</label>
                                                                <input type='date' id="datetimepicker2" th:disabled="${citizenDetail.citizenStatus}==false"
                                                                       th:field="*{dateOfDeath}" class="form-control">


                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="place" class=" form-control-label">Death
                                                                Place</label>
                                                            <input type="text" id="place" placeholder=""
                                                                   th:disabled="${citizenDetail.citizenStatus} ==false"
                                                                   th:field="*{deathPlace}" class="form-control">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="death_reason" class=" form-control-label">Reason
                                                                for Death </label>
                                                            <textarea id="death_reason" placeholder=""
                                                                      th:disabled="${citizenDetail.citizenStatus} ==false"
                                                                      th:field="*{deathReason}"
                                                                      class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--END OF DIED CITIZEN DETAIL-->

                                        </div>
                                    </div>

                                    <!--TAB END-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--END OD CITIZEN DETAIL FORM-->

            </div>
        </div>
    </div>

</div>


<!-- END CONTENT-->
<div th:include="common/footer::footer"></div>
<!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>

<script type="text/javascript" th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app/CitizenProfileTask/CitizenDetail/deathCitizenDetail.js}"></script>
<script type="text/javascript" th:src="@{/js/app/CitizenProfileTask/CitizenDetail/citizenCount.js}"></script>
<script type="text/javascript" th:src="@{/js/app/CitizenProfileTask/CitizenDetail/init.js}"></script>
</body>
</html>
<!-- end document-->