    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

    <head th:include="common/commoncss::commoncss">
        <link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" >


    </head>

    <body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">

            <!-- HEADER DESKTOP-->
            <header class="header-desktop2" th:include="common/header:: header"></header>
            <!-- END HEADER DESKTOP-->

            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75" th:include="administrativeTask/diaryLog/breadcrum::breadcrum"></section>
            <!-- END BREADCRUMB-->

            <!-- CONTENT-->
            <!--<div class="main-content">-->

            <div class="row">
                <div class="col-lg-12">
                    <button th:if="${diaryLog.state}== ${T(com.gn.app.constant.StateOfTasks).PENDING}"
                         class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" >Pending
                    </button>
                    <form th:action="@{/diarylog/save}" th:object="${diaryLog}" th:method="post" id="frm_diarylog">
                        <div class="card">
                            <div class="card-body card-block">

                                <a  th:href="@{/diarylog/add}" class="btn btn-primary">New</a>

                                <button type="submit" class="btn btn-primary">Save</button>

                                <a  th:href="@{/diarylog/delete(id=${diaryLog.id})}" th:disabled="${diaryLog.id} == null ? 'disabled'" class="btn btn-primary">Delete</a>

                                <a   th:href="@{/diarylog/}" class="btn btn-primary">Cancel</a>

                                <a  th:if="${diaryLog.state}== ${T(com.gn.app.constant.StateOfTasks).PENDING}"
                                th:href="@{/diarylog/statechange(id=${diaryLog.id},stateOfTasks=${diaryLog.state})}" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" >Pending
                                </a>

                                <a th:if="${diaryLog.state}== ${T(com.gn.app.constant.StateOfTasks).STARTED}" th:href="@{/diarylog/statechange(id=${diaryLog.id},stateOfTasks=${diaryLog.state})}" class="btn btn-primary">Started
                                </a>

                                <a th:if="${diaryLog.state}== ${T(com.gn.app.constant.StateOfTasks).IN_PROGRESS}" th:href="@{/diarylog/statechange(id=${diaryLog.id},stateOfTasks=${diaryLog.state})}" class="btn btn-primary">In Progress
                                </a>

                                <a th:if="${diaryLog.state}== ${T(com.gn.app.constant.StateOfTasks).FINISHED}" th:href="@{/diarylog/statechange(id=${diaryLog.id},stateOfTasks=${diaryLog.state})}" class="btn btn-primary">Completed
                                </a>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <strong>Diary Log</strong>
                                <small> Form</small>
                            </div>

                            <div class="card-body card-block">
                                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                                <input type="hidden" id="version" name="id" th:field="*{version}"/>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="task_name" class=" form-control-label">Name of Task</label>
                                        <input type="text" id="task_name" th:field="*{taskName}" placeholder="" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="datetimepicker1" class=" form-control-label">Start Date</label>
                                        <input type='date' id="datetimepicker1" th:field="*{startDate}" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="datetimepicker2" class=" form-control-label">Finish Date</label>
                                        <input type='date' id="datetimepicker2" th:field="*{finishDate}" class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description" class=" form-control-label">Description</label>
                                        <textarea  id="description" th:field="*{description}" placeholder="" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            </div>

                            <div class="card-body card-block">

                                <div class="card">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                    href="#tab_state_change_log">State Change Logs</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">

                                        <div id="tab_state_change_log" class="tab-pane fade in active">
                                            <div class="card-body card-block">

                                                    <table class="table table-borderless table-striped table-earning"
                                                           id="tbl_state_change_log_tab">
                                                        <thead>
                                                        <tr>
                                                            <th class="first-th"> #</th>
                                                            <th class="hidden-xs">Task State</th>
                                                            <th class="hidden-xs">Description</th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                            <!--END OF CITIZEN PUBLIC DONATION DETAIL-->

                                    </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <!-- Modal pop up-->

                    <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!--form inside modal start-->
                                    <div class="modal-body">

                                        <form th:object="${stateChangeLog}" th:method="post">
                                            <div class="card">
                                                <div class="card-body card-block">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="task_name" class=" form-control-label">Task State</label>
                                                                <input type="text" id="task" th:field="*{state}" placeholder="" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="comments" class=" form-control-label">Comments Here</label>
                                                                <textarea  id="comments" th:field="*{description}" placeholder="" class="form-control"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            <!-- END CONTENT-->
            <div th:include="common/footer::footer"></div>
            <!-- END PAGE CONTAINER-->
                    </form></div>
    </div>
    <div th:include="common/commonjs::commonjs"></div>

    <script type="text/javascript" th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app/AdministrativeTask/DiaryLog/diaryLog.js}"></script>

    <script type="text/javascript" th:src="@{/js/app/AdministrativeTask/DiaryLog/init.js}"></script>
    <script type="text/javascript" th:src="@{/js/app/AdministrativeTask/DiaryLog/tab/tab-state-change-log.js}"></script>


        </div></div></body>
    </html>
    <!-- end document-->
