<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="administrativeTask/gnProfile/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">

                        <a  th:href="@{/user/add}" class="btn btn-primary ">
                            <i class=""></i> New
                        </a>
                        <button class="btn btn-primary ">
                            <i class=""></i> Save
                        </button>
                        <button  class="btn btn-primary">
                            <i class=""></i> Delete
                        </button>
                        <a  th:href="@{/user/}" class=" btn btn-primary">
                            <i class=""></i> Cancel
                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>User</strong>
                        <small> Home</small>
                    </div>
                    <div class="card-body card-block">
                        <table class="table table-borderless table-striped table-earning" id="tbl_user">
                            <thead>
                            <tr>
                                <th class="first-th"> #</th>
                                <th class="hidden-xs">User Name</th>
                                <th class="hidden-xs">Email</th>
                                <th class="hidden-xs">Role</th>
                                <th class="last-th">More</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT-->

    <div th:include="common/footer::footer"></div>
    <!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/js/app/settings/user/diary-log-home-view.js}"></script>
<script>
    jQuery(document).ready(function() {
        //Main.init();
        UserHome.init();
    });
</script>
</body>
</html>
<!-- end document-->