<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" >
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="settings/user/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">
                <form th:action="@{/user/save}" th:object="${user}" th:method="post" id="frm_userregister">
                    <div class="card">
                        <div class="card-body card-block">

                            <a  th:href="@{/user/add}" class="btn btn-primary ">
                                <i class=""></i> New
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class=""></i> Save
                            </button>
                            <a  th:href="@{/user/delete(id=${user.id})}"
                                th:disabled="${user.id} == null ? 'disabled'" class="btn btn-primary">
                                <i class=""></i> Delete
                            </a>
                            <a  th:href="@{/user/}" class="btn btn-primary">
                                <i class=""></i> Cancel
                            </a>

                        </div>
                    </div>
                <div class="card">
                    <div class="card-header">
                        <strong>User</strong>
                        <small> Form</small>
                    </div>

                        <input type="hidden" id="id" name="id" th:field="*{id}"/>
                        <input type="hidden" id="version" name="id" th:field="*{version}"/>
                    <div class="card-body card-block">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="username" class=" form-control-label">Username</label>
                                    <input type="text" id="username" th:field="*{username}" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="userRole" class=" form-control-label">Role</label>
                                    <select id="userRole" th:field="*{role}" class="search-select" style="width: 100%;">
                                        <option th:each="r : ${roles}" th:value="${r}"
                                                th:text="${r.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email" class=" form-control-label">Email</label>
                                    <input type="text" id="email"  th:field="*{email}"placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password" class=" form-control-label">password</label>
                                    <input type="password" th:field="*{password}" id="password" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="confirm_password" class=" form-control-label">Confirm password</label>
                                    <input type="password" id="confirm_password"  th:field="*{password}" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </form>
            </div>

        </div>

    </div>
    <!-- END CONTENT-->
    <div th:include="common/footer::footer"></div>
    <!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>

<script type="text/javascript" th:src="@{/js/app/Settings/user/userRegister.js}"></script>
<script type="text/javascript" th:src="@{/js/app/Settings/user/init.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/select2.min.js}"></script>
</body>
</html>
<!-- end document-->
