<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css"
          th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="primaryTask/certificateDetail/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">
                <form th:action="@{/certificatedetail/save}" th:object="${certificateDetail}" th:method="post" id="frm_certificatedetail">
                    <div class="card">
                        <div class="card-body card-block">

                            <a th:href="@{/certificatedetail/add}" class="btn btn-primary">
                                <i class=""></i> New
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class=""></i> Save
                            </button>
                            <a th:href="@{/certificatedetail/delete(id=${certificateDetail.id})}"
                               th:disabled="${certificateDetail.id} == null ? 'disabled'" class="btn btn-primary">
                                <i class=""></i> Delete
                            </a>
                            <a th:href="@{/certificatedetail/}" class="btn btn-primary">
                                <i class=""></i> Cancel
                            </a>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Certificate Issuing Detail</strong>
                            <small> Form</small>
                        </div>
                        <div class="card-body card-block">

                            <input type="hidden" id="id" name="id" th:field="*{id}"/>
                            <input type="hidden" id="version" name="id" th:field="*{version}"/>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="certificate_no" class=" form-control-label">Certificate
                                            No</label>
                                        <select id="certificate_no" name="certificate_no"
                                                th:field="*{certificateId}" class="form-control">
                                            <option th:each="certificate:${certificates}"
                                                    th:value="${certificate.id}" th:text="${certificate.certificateNo}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="certificate_type" class=" form-control-label" onchange="function f() {

                                        }">Type of
                                            Certificate</label>
                                        <select id="certificate_type" name="certificate_type"
                                                th:field="*{certificateType}" class="form-control">
                                            <option th:each="certificate:${certificates}"
                                                    th:value="${certificate.id}" th:text="${certificate.crCertificateType}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nic" class=" form-control-label">NIC</label>
                                        <select id="nic" name="nic"
                                                th:field="*{citizenId}" class="form-control">
                                            <option th:each="citizen:${citizens}"
                                                    th:value="${citizen.id}" th:text="${citizen.nic}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="datetimepicker1" class=" form-control-label">Issued Date</label>
                                            <input type='date' id="datetimepicker1" th:field="*{certificateIssuedDate}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="description" class=" form-control-label">Description</label>
                                        <textarea id="description" placeholder="" th:field="*{cdDescription}"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form></div>
            </div>
        </div>
    </div>

</div>
<!-- END CONTENT-->
<div th:include="common/footer::footer"></div>
<!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>

<script type="text/javascript" th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app/PrimaryTask/certificateDetail/certificateDetail.js}"></script>
<script type="text/javascript" th:src="@{/js/app/PrimaryTask/certificateDetail/init.js}"></script>

</body>
</html>
<!-- end document-->